#navigation{
	background-color: lightgrey;
    width: 1100px;
    border: 25px solid black;
    padding: 25px;
    margin: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
	padding: 12px 16px;
}

.dropdown-cause-data-type {
    position: relative;
    display: inline-block;
	padding: 12px 16px;
}

.dropdown-effect-data-type {
    position: relative;
    display: inline-block;
	padding: 12px 16px;
}
.dropdown-cause-literal-type {
    position: relative;
    display: inline-block;
	padding: 12px 16px;
}

.dropdown-effect-literal-type {
    position: relative;
    display: inline-block;
	padding: 12px 16px;
}
.dropdown-cause-bit-type {
    position: relative;
    display: inline-block;
	padding: 12px 16px;
}

.dropdown-effect-bit-type {
    position: relative;
    display: inline-block;
	padding: 12px 16px;
}

.dropdown-cause-operation {
    position: relative;
    display: inline-block;
	padding: 12px 16px;
}


.dropdown-effect-operation {
    position: relative;
    display: inline-block;
	padding: 12px 16px;
}
.dropdown-parent{
}

.dropdown-parent-cause{
}

.dropdown-parent-effect{
};